body {
    font-family: 'Josefin Sans', sans-serif;
    background:
        linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}

.card {
    cursor: pointer;
}

.card-body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}